body {
    margin: 0;
    padding: 0;
    background-image: url('img.png'); /* Specify the path to your background image */
    background-size: 50% auto;
    background-position: center;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background color for readability */
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background color for readability */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
}

input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}
